{% extends 'user/layout.html' %}

{% block content %}
<style>
    #login-form .form-row #id_email,#id_rpassword {
        clear: both;
        padding: 8px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    </style>
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/user/login/">Login</a></h1>
        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
        <div id="content-main">
           
            <form action="/user/register/" method="POST" id="login-form">
                {% csrf_token %}
                <div class="form-row">
                    {% if form.username.errors%}
                        {% for error in form.username.errors%}
                            <p>{{error | escape}}</p>
                        {% endfor%}
                    {% endif%}
                    {{form.username.label_tag}}
                    {{form.username}}
                </div>
                <div class="form-row">
                    {% if form.password1.errors%}
                        {% for error in form.password1.errors%}
                            {{error}}
                        {% endfor%}
                    {% endif%}
                    {{form.password1.label_tag}}
                    {{form.password1}}
                </div>
                <div class="form-row">
                    {% if form.password2.errors %}
                        {% for error in form.password2.errors%}
                            {{error}}
                        {% endfor%}
                    {% endif%}
                    {{form.password2.label_tag}}
                    {{form.password2}}
                </div>
            <div class="submit-row">
                <label>&nbsp;</label><input type="submit" value="Register">
            </div>
            </form>
        </div>
        <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->

{% endblock %}