<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


<meta name="robots" content="NONE,NOARCHIVE">
<style>
    #login-form .form-row #id_email,#id_rpassword,#id_password1,#id_password2 {
        clear: both;
        padding: 8px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    </style>
</head>
<body class=" login" data-admin-utc-offset="0">
{% block content %}
{% endblock %}
</body>
</html>
